@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    font-family: Inter, system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.full {
    min-height: 100vh;
    overflow: hidden;
    padding: 32px;
    font-family: Inter, system-ui;
    color: rgb(36 62 99);
}

body {
    margin: 0px;
    line-height: inherit;
}

nav {
    height: 44px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(36 62 99);
}

p {
    line-height: 1.5;
    font-size: 12px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* NAVIGATION BAR */

.logo {
    display: flex;
    margin-right: 16px;
    width: 40px;
}

.logo__Treact {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left:0px;
    color: #243E63;
}

.logo__Treact:hover {
    color: #7342d6;
}

.link__spacing {
    margin: 0 24px 0 48px;
}

.nav__link--list {
    display: inline-block;
}

.nav__link--anchor {
    margin: 0 24px;
    padding: 0 4px;
    text-decoration: none;
    font-size: 14px;
    color: #243E63;
}

.link__spacing {
    margin: 0 24px 0 48px;
}

.nav__link {
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--anchor-primary {
    background-color: #6415FF;
    padding: 8px 20px;
    border-radius: 50px;
    color: #F7FAFC
}

.nav__link--anchor-primary:hover {
    background-color: #5111d2;
}