@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    font-family: Inter, system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

element.style {
}

.container {
    overflow: hidden;
    padding: 32px;
    font-family: Inter, system-ui;
    color: rgb(36 62 99);
}    

body {
    margin: 0px;
    line-height: inherit;
}

nav {
    height: 44px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(36 62 99);
}

p {
    line-height: 1.5;
    font-size: 12px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.text--purple {
    color: #6415FF;
}

h1 {
    font-size: 36px;
    color: #1A202C;
}

p {
    font-size: 16px;
    color: #243E63;
}

/* NAVIGATION BAR */

.logo {
    display: flex;
    margin-right: 16px;
    width: 40px;
}

.logo__Treact {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left:0px;
    color: #243E63;
}

.logo__Treact:hover {
    color: #7342d6;
}

.link__spacing {
    margin: 0 24px 0 48px;
}

.nav__link--list {
    display: inline-block;
}

.nav__link--anchor {
    margin: 0 24px;
    padding: 0 4px;
    text-decoration: none;
    font-size: 14px;
    color: #243E63;
}

.link__spacing {
    margin: 0 24px 0 48px;
}

.link__spacing-primary {
    margin: 0;
}

.nav__link {
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--anchor-primary {
    background-color: #6415FF;
    padding: 8px 20px;
    border-radius: 50px;
    color: #F7FAFC
}

.nav__link--anchor-primary:hover {
    background-color: #5111d2;
}

/* TWO COLUMN ONE */

.container__a {
    position: relative;
}

.twocolumnone__row {
    flex-direction: row;
    align-items: center;
}

.twocolumnone__left-column {
    width: 41.6667%;
    max-width: none;
    text-align: left;
}

.twocolumnone__heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
    color: #1A202C;
}

.twocolumnone__para {
    margin-top: 32px;
    margin-bottom: 32px;
}

.action {
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
}

input {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 192px;
}

input {
    width: 100%;
    border-radius: 50px;
    border-width: 2px;
    padding-left: 32px;
    font-weight: 500;
    transition-property: all;
    transition-duration: 300ms;
}

button {
    position: absolute;
    margin-top: 0.8px;
    margin-bottom: 0.8px;
    width: 160px;
    line-height: 1;
}

.gs {
    background-color: #6415FF;
    color: #F7FAFC;
    border: none;
    border-radius: 50px;
    padding: 12px 24px;
    cursor: pointer;
}

.twocolumnone__path {
    margin-top: 32px;
    margin-bottom: 32px;
}

.twocolumnone__para-small {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: rgb(160 174 192);
}

.twocolumnone__illustration-one {
    padding-right: 64px;
}

.twocolumnone__illustration-one { 
    margin-top: 18px;
    width: 100%;
    opacity: 0.5;
}

.twocolumnone__right-column {
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: center;
}

.twocolumnone__illustration-two {
    width: 100%;
    min-width: 0px;
    max-width: 512px;
    width: calc(100% / 2)
}